PORT = 5000
MONGO_URI ='mongodb+srv://sarthakoberoiofficial:password9876@cluster0.itn3z44.mongodb.net/databaseSite'`mongodb+srv://sarthakoberoiofficial:password9876@cluster0.itn3z44.mongodb.net/datatatatatatat`
JWT_SECRET = ecommerce
CLIENT_URL = http://localhost:3000
NODE_ENV = development

# Email

EMAIL_USER = examnpple@yahoo.com
EMAIL_PASS = XXXXXXXXXXXXXXXX
EMAIL_SERVICE = yahoo

ALLOWED_ORIGINS =['http://localhost:3000']

CLOUDINARY = https://api.cloudinary.com/v1_1/demo/image/upload


STRIPE_SECRET_KEY = sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
